@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-text {
    @apply hover:text-darkGrayishBlue;
  }
}
#hero {
  background-image: url("./img/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}
